<div
  class="modal fade"
  id="employeeModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="employeeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="employeeModalLabel">
          Employee Information
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="onClose()"
        ></button>
      </div>
      <form
        [formGroup]="employeInformationForm"
        (ngSubmit)="onSubmit()"
        *ngIf="type !== 'delete'"
      >
        <div class="modal-body">
          <input
            type="hidden"
            id="id"
            formControlName="id"
            value="{{ employee?.id || '' }}"
          />
          <div class="mb-3">
            <label for="email" class="form-label">First Name</label>
            <input
              type="text"
              class="form-control"
              [ngClass]="firstName?.touched && firstName?.errors?.['required'] ? 'is-invalid' : ''"
              id="firstName"
              value="{{ employee?.firstName || '' }}"
              formControlName="firstName"
            />
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input
              type="text"
              class="form-control"
              [ngClass]="lastName?.touched && lastName?.errors?.['required'] ? 'is-invalid' : ''"
              id="lastName"
              value="{{ employee?.lastName || '' }}"
              formControlName="lastName"
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input
              type="email"
              class="form-control"
              [ngClass]="email?.touched && email?.errors?.['required'] ? 'is-invalid' : ''"
              id="email"
              value="{{ employee?.email || '' }}"
              formControlName="email"
            />
          </div>
          <div class="mb-3">
            <label for="contactNumber" class="form-label">Contact Number</label>
            <input
              type="text"
              class="form-control"
              [ngClass]="contactNumber?.touched && contactNumber?.errors?.['required'] ? 'is-invalid' : ''"
              id="contactNumber"
              value="{{ employee?.contactNumber || '' }}"
              formControlName="contactNumber"
            />
          </div>
          <div class="mb-3">
            <label for="salary" class="form-label">Salary</label>
            <input
              type="text"
              class="form-control"
              [ngClass]="salary?.touched && salary?.errors?.['required'] ? 'is-invalid' : ''"
              id="salary"
              value="{{ employee?.salary || '' }}"
              formControlName="salary"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="onClose()"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn"
            [ngClass]="type === 'add' ? 'btn-success' : 'btn-info'"
            [disabled]="employeInformationForm.invalid"
          >
            {{ type === "add" ? "Add" : "Update" }}
          </button>
        </div>
      </form>
      <div id="delete" *ngIf="type === 'delete'">
        <div class="modal-body">
          <p>Are you sure you want to delete this record?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            No
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="onDelete(employee.id)"
          >
            Yes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
